/*
 @Author: XpertPress
 @URL: http://www.rndspot.com
 This file contains the styling for the actual theme, this
 is the file you need to edit to change the look of the
 theme.
 However we used Less script to make things easy to maintain, this is the compressed ourput, we recommend to edit the less files and then recombile the files and add the result here, if you don't like to use less you can edit this file here.
 
 This files contents are outlined below.
 02.	Global Styling
 02.	Hadding
 03.	Header
 04.	Header Mid
 05.	Header Last Navigation 
 06.	Banner
 07.	Feature Item
 08.	Requst Men
 09.	Requst Quote
 10.	Our Services
 11.	Our Blog
 12	Testimonail
 13.	Counter
 14.	Our Clints
 15.	Col Action
 16.	Footer
 17.	Copayright
 18.	Index 2
 19.	Home2 Feature Item
 20.	Home2 Our Services
 21.	Home2 Request quote
 22.	Home2 Our Blog
 23.	Home2 Testimonail
 24.	Home2 Counter
 25.	Home2 Col  Actio
 26.	Home3
 27.	Home3 Feature Item
 28.	Home3 Our Blog
 29.	Home3 Counter
 30.	Home3 Request Quote
 31.	Home3 Tastimonial
 32.	Home4
 33.	Home4 Amazing Feature
 34.	Home4 Who We Are Cargo
 35.	Home4 Counter
 36.	Home5
 37.	Home5 Counter
 38.	About Us
 39.	Blog inneer Page
 40.	Contact-us
*/

/* =============================================
                Global Styling
============================================= */
@import url('https://fonts.googleapis.com/css?family=Lato|Montserrat');
*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #999;
}
h2, h3, h4, h5, h6,
h2 a, h3 a, h4 a, h5 a, h6 a{
    padding: 0; margin: 0;
}
h1, h2{
    padding: 0; margin: 0;
}
h1 a, h2 a{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    font-weight: normal;
}
h3 a, h4 a, h5 a, h6 a{
    margin: 0;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    text-transform: none;
    display: inline-block;
    color: #555;
}
h1{
    font-size: 120px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h2{
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    color: #555;
}
h3{
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}
h3 a{
    color: #555;
    text-transform: uppercase;
}
h4{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
h5{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
}
h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
p a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
p a:hover {text-decoration:none;}
p {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    margin: 0 0 0px;
    color: #999;
}
a {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-decoration: none; 
    transition: all 0.5s ease-in-out;
}
a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
::-webkit-input-placeholder { /* Chrome */
  color: #fff;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  opacity: 1;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff;
  opacity: 1;
}

img {
    max-width: 100%;
}
ul, ol{
    margin: 0;
    padding: 0;
}
ul li{
    list-style: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
i{
    line-height: 1;
}
ul li a{
    text-transform: none;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
}
.layout{
    width: 100%;
    float: left;
}
.section-padding{
    padding: 75px 0;
}
.chid-pernt {
    display: table;
    height: 100%;
    width: 100%;
}
.child {
    display: table-cell;
    vertical-align: middle;
}
figure {
    margin: 0;
}
.btn{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    border-radius: 50px;
    padding: 10px 28px;
    transition: all 0.5s ease-in-out;
}
.btn:hover{
    color: #fff !important;
}

.btn:hover, .btn:focus, .btn.focus {
    color: #fff !important;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn.focus:active, .btn.active.focus{
    outline: none;
    outline-offset: 0;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
}
/************************************
         Hadding start
*************************************/
.haddings{
    text-align: center;
    padding-bottom: 55px;
}
.haddings p{
    margin-top: 11px;
}
.hadding-inner h2{
    padding-bottom: 4px;
}
.hadding-inner span{
    position: relative;
}
.hadding-inner span:after{
    position: absolute;
    content: "";
    background-color: #e7e7e7;
    width: 40px;
    height: 1px;
    top: 12px;
    left: 37px;
}
.hadding-inner span:before{
    position: absolute;
    content: "";
    background-color: #e7e7e7;
    width: 40px;
    height: 1px;
    top: 12px;
    left: -53px;
}
/************************************
        Header containt start
*************************************/
#header .top-header{
    background-color: #2a394c;
    padding: 7px 0 10px;
}
.top-header .top-contect ul li{
    display: inline-block;
    position: relative;
    margin-right: 35px;
}
.top-header .top-contect ul li:last-child{
    margin-right: 0;
}
.top-header .top-contect ul li:first-child:after{
    display: none
}
.top-header .top-contect ul li:after{
    position: absolute;
    content: "";
    width: 1px;
    height: 19px;
    background-color: #34383e;
    top: 3px;
    left: -19px;
}
.top-header .top-contect ul li i{
    font-size: 12px;
    vertical-align: middle;
    margin-right: 7px;
}
.top-header .top-contect ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #a2afbf;
    vertical-align: middle;
}
.top-header .top-socail{
    text-align: right;
}
.top-header .top-socail ul li{
    display: inline-block;
}
.top-header .top-socail ul li{
    margin-right: 24px;
}
.top-header .top-socail ul li:last-child{
    margin-right: 0;
}
.top-header .top-socail ul li a{
    color: #a2afbf;
    font-size: 12px;
}
/************************************
     Header Mid containt start
*************************************/
.mid-header{
    padding: 23px 0; 
}
.logo {
    margin-top: 2px;
}
.mid-header .open-time{
    text-align: right;
}
.mid-header .open-time  ul li{
    display: inline-block;
    text-align: left;
    margin-right: 45px;
}
.mid-header .open-time  ul li:last-child{
    margin-right: 0;
}
.mid-header .open-time  ul li strong{
    transform: rotate(90deg);
    -webkit-border-radius:63px 63px 63px 63px/
        108px 108px 72px 72px;
    border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
    width: 51px;
    height: 51px;
    display: inline-block;
    border: 1px solid;
    margin-right: 40px;
}
.mid-header .open-time  ul li i{
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    width: 51px;
    height: 51px;
    text-align: center;
    padding-top: 15px;
    transform: rotate(-90deg);
    position: relative;
}
.mid-header .open-time  ul li i:after{
    position: absolute;
    content: "";
    background-color: #f5f6f7;
    width: 1px;
    height: 40px;
    right: -22px;
    top: 5px;
}
.mid-header .open-time  ul li .text-box{
    display: inline-block;
    vertical-align: middle;
}
.mid-header .open-time  ul li .text-box p{
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}
.mid-header .open-time  ul li .text-box a{
    font-family: 'Lato', sans-serif;
    color: #999;
}
/************************************
    Header Last Navigation start
*************************************/
.last-header {
    top: 136px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
}
.navigation {
    padding: 18px 30px;
    border-radius: 50px;
}
.navigation .navbar-default {
    background-color: transparent;
    border-color: transparent;
}
.navigation .navbar{
    border-radius: 0;
    margin-bottom: 0;
    min-height: inherit;
    border: none;
}
.navigation .navbar-nav {
    float: none;
    margin: 3px 0 0;
    display: inline-block;
}
.navigation .navbar-collapse{
    padding: 0;
    float: left;
}
.navigation .navbar-nav > li{
    position: relative;
}
.navigation .nav > li > a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border-radius:20px;
    padding: 8px 26px;
}
.sub-menu{
    background-color: #ffffff;
    position: absolute;
    width: 150px;
    top: 59px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
}
.sub-menu li a{
    padding: 10px;
    display: block;
    color: #999;
}
.sub-menu li.active a{
    color: #fff;
}
.sub-menu li a:hover{
    color: #fff;
}
.navigation .navbar-nav > li:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transition: all 0.5s ease-in-out;
}
.navigation .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    background-color: #fff;
}
.navigation .nav > li > a:hover{
    background-color: #fff;
}
.gat-quote{
    display: inline-block;
}
/************************************
        Banner start
*************************************/
#banner{
    position: relative;
}
.inner-banner .image-holder{
    position: relative;
}
.inner-banner .image-holder .overlay{
    position: absolute;
    background-color: rgba(0, 0, 0 ,.55);
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
}
.inner-banner .banner-text{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    left: 0;
    height: 100%;
    text-align: center;
}
.inner-banner .banner-text h2{
    color: #fff;
    font-size: 48px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.inner-banner .banner-text h1{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 23px;
    margin-bottom: 19px;
}
.inner-banner .banner-text p{
    color: #fff;
}
.inner-banner .banner-text .btn{
    background-color: #fff;
    font-size: 16px;
    margin: 0 5px;
}
.inner-banner .banner-text .btn:hover{
    color: #fff;
}
.inner-banner .owl-theme .owl-controls {
    margin-top: 0;
    text-align: center;
    width: 100%;
}
.inner-banner .owl-pagination {
    bottom: 40px;
    position: absolute;
    width: 100%;
}
.inner-banner .owl-theme .owl-controls .owl-page span {
    background-color: rgba(250, 250, 250, .20) ;
    margin: 5px 7px;
    opacity: 1;
    transition: all 0.5s ease-in-out;
}
#owl-demo .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    transition: all 0.5s ease-in-out;
}
.inner-banner .owl-buttons {
    position: absolute;
    width: 100%;
    top: 38%;
}
.inner-banner .owl-theme .owl-controls .owl-buttons div{
    background-color: rgba(250, 250, 250, .10);
    -webkit-border-radius:63px 63px 63px 63px/
        108px 108px 72px 72px;
    border-radius:50% 50% 50% 50%/60% 60% 40% 40%;
    width: 71px;
    height: 81px;
    opacity: 1;
    padding: 23px;
    margin: 0;
    font-size: 24px;
    transform: rotate(90deg);
    transition: all 0.5s ease-in-out;
}
.owl-prev{
    transform: rotate(265deg) !important;
    position: absolute;
    left: 106px;
}
.owl-prev i{
    transform: rotate(-265deg);
}
.owl-next{
    position: absolute;
    right: 107px;
}
.owl-next i{
    transform: rotate(-90deg);
}
/************************************
        Feature Item start
*************************************/
.feature-item{
    background-color: #f9f9f9;
    padding: 95px 0 75px;
}
.feature-inner{
    background-color: #fff;
    -webkit-box-shadow: -1px -16px 17px 10px rgba(238,238,238,1);
    -moz-box-shadow: -1px -16px 17px 10px rgba(238,238,238,1);
    box-shadow: -1px -16px 17px 10px rgba(238,238,238,1);
    text-align: center;
    padding-bottom: 35px;
}
.feature-inner .image-holder img{
    margin-top: -20px;
    margin-left: 20px;
}
.feature-inner .text-box{
    margin-top: 25px;
    padding: 0 25px;
}
.feature-inner .text-box h3{
    padding-bottom: 10px;

}
.feature-inner .text-box .btn{
    margin-top: 20px;
}
/************************************
         Requst Men start
*************************************/
.requst-men{
    background-color: #fff;
    text-align: right;
}
.requst-men .image-holder{
    position: relative;
    z-index: 10;
    right: -124px;
}
/************************************
        Requst Quote start
*************************************/
.request-quote{
    background-color: #4d6cf1;
    padding: 135px 0 80px;
    margin-top: -251px;
}
.request-quote .haddings {
    margin-top: -115px;
}
.request-quote .hadding-inner h2{
    color: #fff;
}
.request-quote .hadding-inner span::before,
.request-quote .hadding-inner span::after{
    background-color: #859af6;
}
.request-quote .haddings p{
    color: #fff;
}
.quote-form .form-group{
    margin-bottom: 30px;
}
.quote-form .form-group input[type="text"]{
    background-color: #5f7bf2;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 54px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding-left: 30px;
    color: #fff;
}
.quote-form .form-group textarea{
    background-color: #5f7bf2;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 160px;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    padding: 30px;
    color: #fff;
}
.last-group{
    margin-bottom: 0 !important;
    text-align: center;
}
/************************************
         Our Services start
*************************************/
.our-services{
    background-color: #f9f9f9;
}
.blue-grid{
    background-color: #fff;
    box-shadow: -1px 0 10px 0 #eeeeee;
    border-radius: 3px;
    padding: 28px 30px 25px;
    margin-bottom: 20px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}
.blue-grid .image-holder{
    float: left;
    border-radius: 2px;
    padding: 14px 14px 13px;
    margin-right: 20px;
    position: relative;
}
.blue-grid .image-holder:after{
    position: absolute;
    content: "";
    width: 1px;
    height: 100%;
    background-color: #eeeeee;
    right: -21px;
    top: 0;
    transition: all 0.5s ease-in-out;
}
.blue-grid .text-box{
    float: left;
    width: 65%;
    margin-left: 20px;
}
.blue-grid .text-box h3{
    padding-bottom: 2px;
    font-size: 13px;
}
.red-grid .image-holder{
    background-color: #e91d62 !important;
}
.red-grid:hover{
    border: 1px solid #e91d62 !important;
}
.red-grid:hover .image-holder:after{
    background-color: #e91d62 !important;
}
.orenge-grid .image-holder{
    background-color: #f14e51 !important;
}
.orenge-grid:hover{
    border: 1px solid #f14e51 !important;
}
.orenge-grid:hover .image-holder:after{
    background-color: #f14e51 !important;
}
.jamni-grid .image-holder{
    background-color: #4d6cf1 !important;
}
.jamni-grid:hover{
    border: 1px solid #4d6cf1 !important;
}
.jamni-grid:hover .image-holder:after{
    background-color: #4d6cf1 !important;
}
.blue-grid:hover, .green-grid:hover, yellow-grid:hover{
    border: 1px solid;
}
.blue-grid .image-holder i{
    color: #fff;
}
/************************************
         Our Blog start
*************************************/
.our-blog .inner-blog{
    background-color: #fff;
    box-shadow: 0 8px 15px 0 #eeeeee;
}
.our-blog .inner-blog .text-box{
    padding: 25px 40px 25px;
}
.our-blog .inner-blog .text-box h3 a{
    font-size: 24px;
    color: #444444;
    padding-bottom: 10px;
}
.our-blog .inner-blog .text-box span{
    color: #aaaaaa;
    font-size: 13px;
}
.our-blog .inner-blog .text-box p{
    padding-top: 15px;
    padding-bottom: 15px;
}
.our-blog .inner-blog .text-box a i{
    margin-left: 4px;
    vertical-align: middle;
}
/************************************
         Testimonail start
*************************************/
.testimonail {
    background-color: #f9f9f9;
}
.testimonail-inner .image-holder{
    border: 2px solid #4d6cf1;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    margin: 0 auto;
    z-index: 10;
    position: relative;
}
.testimonail-inner .image-holder img{
    border-radius: 50%; 
    height: 126px;
    width: 126px;
}
.testimonail-inner .text-box{
    background-color: #ffffff;
    border-radius: 50px;
    box-shadow: -1px 2px 10px 0 #eeeeee;
    margin: -66px 10px 10px;
    padding: 82px 200px 62px;
    text-align: center;
}
.testimonail-inner .text-box h3{
    margin-bottom: 21px;
}
.testimonail-inner .text-box h3 span{
    font-style: italic;
    font-size: 16px;
    font-family: "Lato",sans-serif;
    text-transform: none;
    font-weight: lighter;
    color: #f14e51;
    margin-left: 15px;
}
.testimonail-inner .owl-theme .owl-controls {
    margin-top: 15px;
}
.testimonail-inner .owl-theme .owl-controls .owl-page span{
    background: #eeeeee;
    opacity: 1;
}
/************************************
         Counter start
*************************************/
.counter .counter-grid{
    text-align: center;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding-bottom: 50px;
    padding-top: 50px;
}
.counter-grid i{
    color: #fff;
    font-size: 32px;
    border-radius: 3px;
    padding: 20px;
}
.counter-grid h3{
    color: #444444;
    font-size: 64px;
    padding-bottom: 0;
    padding-top: 23px;
}
.red-counter-grid i{
    background-color: #f14e51 !important;
}
.red-counter-grid h4{
    color: #f14e51 !important;
}
.blue-counter-grid i{
    background-color: #4d6cf1 !important;
}
.blue-counter-grid h4{
    color: #4d6cf1 !important;
}
/************************************
         Our Clints start
*************************************/
.ouer-clint{
    background-color: #f9f9f9;
    padding-bottom: 132px;
}
.inner-clints .clints-sponser{
    background-color: #fff;
    box-shadow: -1px 1px 7px 0 #eeeeee;
    margin: 2px 5px;
    border-radius: 50px;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 21px;
}
.inner-clints .clints-sponser p{
    font-family: "Montserrat",sans-serif;
    letter-spacing: 5px;
    color: #cccccc;
}
.inner-clints .clints-sponser h3{
    font-size: 36px;
}
.green-sponser h3{
    color: #98ce44 !important;
}
.red-sponser h3{
    color: #f14e51 !important;
}
.blue-sponser h3{
    color: #4d6cf1 !important;
}
/************************************
        Col Action start
*************************************/
.col-action{
    background-color: #4d6cf1;
    position: relative;
}
.col-action .image-holder{
    left: 25px;
    position: absolute;
    top: -111px;
}
.col-action .text-box{
    display: inline-block;
    width: 75%;
    padding-bottom: 31px;
    padding-top: 52px;
}
.col-action .text-box h2{
    color: #fff;
    letter-spacing: 3px;
}
.col-action .text-box p{
    color: #fff;
}
.col-action .start-now{
    display: inline-block;
    vertical-align: top;
    float: right;
    margin-top: 67px;
}
/************************************
         Footer start
*************************************/
.footer-main{
    background-color: #1d2939;
    padding: 70px 0;
}
.inner-footer h3{
    color: #fff;
    padding-bottom: 38px;
}
.inner-footer p{
    color: #a2afbf;
}
.inner-footer .footer-logo{
    margin-bottom: 35px;
}
.recent-post{
    border-bottom:  1px solid #2a394c;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.post-border{
    padding-bottom: 0;
    margin-bottom: 0;
    border-bottom: none;
}
.recent-post .image-holder{
    float: left;
}
.recent-post .text-box{
    float: left;
    margin-left: 20px;
    padding-top: 3px;
}
.recent-post .text-box h4 a{
    font-size: 14px;
    color: #a2afbf;
    font-family: "Lato",sans-serif;
    text-transform: uppercase;
    padding-bottom: 5px;
}
.recent-post .text-box p{
    color: #a2afbf;
    font-size: 13px;
    margin-bottom: 2px;
}
.recent-post .text-box span{
    font-size: 13px;
}
.inner-footer input[type="text"]{
    border: 1px solid #4a5461;
    background-color: transparent;
    font-size: 14px;
    color: #a2afbf;
    font-family: "Lato",sans-serif;
    border-radius: 25px;
    height: 54px;
    padding-left: 30px;
    width: 100%;
    position: relative;
    margin-top: 25px;
}
.inner-footer input[type="submit"]{
    border: medium none;
    border-radius: 50%;
    bottom: 3px;
    color: #ffffff;
    font-size: 16px;
    height: 48px;
    position: absolute;
    right: 19px;
    width: 48px;
    transition: all 0.5s ease-in-out;
}
/************************************
        Copayright start
*************************************/
.copayright{
    background-color: #2a394c;
    padding: 19px 0;
}
.copayright .copyrigth-left ul li{
    display: inline-block;
    margin-right: 29px;
}
.copayright .copyrigth-left ul li:last-child{
    margin-right: 0;
}
.copayright .copyrigth-left ul li a{
    color: #a2afbf;
}
.copyrigth-right p{
    text-align: right;
    color: #a2afbf;
}
/************************************
        Index 2 start
*************************************/
.home2-inner-banner .banner-text{
    text-align: left;
}
.home2-inner-banner .banner-text h1 {
    margin-bottom: 3px;
}
.banner-button{
    margin-top: 36px;
}
.home2-inner-banner .image-holder .overlay {
    background-color: rgba(28, 32, 38, 0.40);
}
/************************************
       Home2 Feature Item start
*************************************/
.home2-feature-item{
    background-color: #fff;
    padding: 75px 0 85px;
}
.home2-feature-item .feature-inner{
    background-color: transparent;
    box-shadow: none;
    padding: 0;
}
.home2-feature-item .feature-inner .image-holder{
    position: relative;
    z-index: 100;
}
.home2-feature-item .feature-inner .image-holder:after{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: #eeeeee;
    top: 10px;
    left: 10px;
    z-index: -99;
}
.home2-feature-item .feature-inner .image-holder img {
    margin-left: 0;
    margin-top: 0;
}
.home2-feature-item  .feature-inner .text-box {
    margin-top: 0;
    padding: 0;
    position: absolute;
    top: 0;
    width: 100%;
    left: 0;
    height: 100%;
}
.home2-feature-item .feature-inner .text-box h3{
    padding-bottom: 0;
}
.home2-feature-item .feature-inner .text-box h3 a{
    padding-bottom: 0px;
    color: #fff;
    font-size: 24px;
}
.home2-feature-item .feature-inner .text-box .btn {
    margin-top: 16px;
    border: 1px solid #fff;
    background-color: transparent;
}
.home2-feature-item .feature-inner .text-box .btn:hover{
    border: 1px solid;
}
/************************************
       Home2 Our Services start
*************************************/
.home2-our-services{
    padding-bottom: 55px;
}
.home2-our-services .blue-grid{
    border-radius: 100px;
}
.home2-our-services .blue-grid .image-holder{
    border-radius: 50% / 60% 60% 40% 40%;
}
/************************************
       Home2 Request quote start
*************************************/
.home2-request-quote{
    margin: 0;
    position: relative;
}
.home2-request-quote .haddings{
    margin: 0;
    text-align: left;
    padding-bottom: 45px;
}
.home2-request-quote .hadding-inner h2 {
    color: #fff;
}
.home2-request-quote .haddings p {
    color: #fff;
    margin-top: 7px;
}
.request-quote-left{
    background-color: #4d6cf1;
    position: relative;
    padding-right: 105px;
    padding-top: 95px;
    padding-bottom: 95px;
}
.request-quote-left:before{
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: -99%;
    background-color: #4d6cf1;
}
.request-quote-left .quote-form .form-group {
    margin-bottom: 20px;
}
.request-quote-left .last-group {
    margin-top: 8px;
}
.request-quote-right{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 50%;
}
/************************************
       Home2 Our Blog start
*************************************/
.home2-our-blog .inner-blog .text-box {
    padding: 25px 30px 25px;
}
.home2-our-blog .inner-blog .text-box h3 a {
    color: #444444;
    font-size: 18px;
    padding-bottom: 10px;
    text-align: center;
    display: block;
}
.home2-our-blog .inner-blog .text-box span {
    text-align: center;
    display: block;
}
/************************************
       Home2 Testimonail start
*************************************/
.home2-testimonail .testimonail-inner .image-holder img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
}
.home2-testimonail .testimonail-inner .image-holder {
    border: 5px solid #4d6cf1;
    height: 370px;
    width: 370px;
    margin: 0;
}
.home2-testimonail .testimonail-inner .text-box {
    background-color: transparent;
    border-radius: 0;
    box-shadow: none;
    left: 260px;
    margin: -66px 10px 10px;
    padding: 0;
    position: absolute;
    text-align: left;
    top: 137px;
    width: 865px;
}
.home2-testimonail .testimonail-inner .text-box h3 {
    margin-bottom: 26px;
    margin-left: 160px;
}
.home2-testimonail .testimonail-inner .text-box h3 span{
    color: #999999;
}
.text-inner{
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: -1px 2px 10px 0 #eeeeee;
    padding: 53px 25px 53px 160px;
}
.text-inner p{
    font-style: italic;
    font-size: 18px;
}
.home2-testimonail .testimonail-inner .owl-theme .owl-controls {
    margin-top: -27px;
    text-align: right;
}
/************************************
       Home2 Counter start
*************************************/
.home2-counter .counter-grid,
.home2-counter .green-counter-grid{
    border: 1px solid;
}
.home2-counter .counter-grid i{
    background-color: transparent;
    font-size: 64px;
    padding: 0;
}
.home2-counter .red-counter-grid{
    border: 1px solid #f14e51 !important
}
.home2-counter .red-counter-grid i{
    background-color: transparent !important;
    color: #f14e51 !important;
}
.home2-counter .blue-counter-grid{
    border: 1px solid #4d6cf1 !important;
}
.home2-counter .blue-counter-grid i{
    background-color: transparent !important;
    color: #4d6cf1 !important;
}
.home2-counter .counter-grid h3 {
    padding-top: 12px;
}
/************************************
       Home2 Col Actio start
*************************************/
.home2-col-action{
    padding: 27px 0;
}
.home2-col-action .text-box {
    display: inline-block;
    padding-bottom: 0px;
    padding-top: 10px;
    width: 100%;
}
.home2-col-action .start-now {
    margin-top: 0;
}
.home2-ouer-clint{
    padding-bottom: 75px;
}
/************************************
        Home3 start
*************************************/
.home3-inner-banner .image-holder .overlay {
    background-color: rgba(0, 42, 52, 0.55);
}
.home3-inner-banner .banner-text h2 {
    font-size: 32px;
    letter-spacing: 0;
    margin-bottom: 18px;
}
.home3-inner-banner .banner-text h1 {
    font-size: 100px;
    color: #ffffff;
    letter-spacing: 15px;
    margin-bottom: 23px;
}
.home3-inner-banner .banner-text-inner{
    background-color: rgba(253, 183, 20, 0.05);
    width: 970px;
    margin: 0  auto;
    padding: 35px 0 43px;
    border: 10px solid #7ea074; 
    border-radius: 20px;
}
/************************************
      Home3 Feature Item start
*************************************/
.home3-feature-item{
    padding: 75px 0;
}
.home3-feature-item .feature-inner {
    box-shadow: 8px -10px 10px -2px #eeeeee;
    padding-top: 50px;
    padding-bottom: 51px;
}

.home3-feature-item .feature-inner .image-holder{
    width: 160px;
    height: 160px;
    border-radius: 50%;
    margin: 0 auto;
}
.home3-feature-item .feature-inner .image-holder img {
    margin-left: 0;
    margin-top: 0;
    border-radius: 50%;
}
.home3-feature-item .feature-inner .text-box .btn {
    background-color: #fff;
    box-shadow: 0 4px 5px 1px #eeeeee;
}
/************************************
      Home3 Our Blog start
*************************************/
.home3-our-blog .inner-blog .text-box {
    padding: 40px 40px 40px;
}
.home3-our-blog .owl-theme .owl-controls {
    margin-top: 44px;
}
.home3-our-blog .owl-theme .owl-controls .owl-page span{
    background: #eeeeee;
    opacity: 1;
    margin: 0 7px;
}
.home3-our-blog .owl-theme .owl-controls .owl-page.active span, .owl-theme .owl-controls.clickable .owl-page:hover span{
    background-color: #08c1f3 !important;
}
/************************************
      Home3 Counter start
*************************************/
.home3-counter .counter-grid{
    border: none;
    padding-top: 45px;
}
.home3-counter .counter-grid i{
    background-color: transparent !important;
    padding: 0;
}
.home3-counter .counter-grid h3{
    color: #fff;
    padding-top: 17px;
}
.home3-counter .counter-grid h4{
    color: #fff !important;
}
.home3-counter .red-counter-grid{
    background-color: #f14e51 !important;
}
/************************************
     Home3 Request Quote start
*************************************/
.home3-request-quote .request-quote-left .haddings {
    margin: 0;
    padding-bottom: 45px;
    text-align: left;
}
.home3-request-quote .request-quote-left .hadding-inner h2 {
    color: #ffffff;
}
.home3-request-quote .request-quote-left .haddings p {
    color: #ffffff;
    margin-top: 7px;
}
.home3-request-quote .request-quote-left .quote-form .form-group input[type="text"]{
    background-color: #39cdf5;
}
.home3-request-quote .request-quote-left .quote-form .form-group textarea{
    background-color: #39cdf5;
}
.home3-request-quote .ouer-clint{
    padding-top: 95px;
    padding-bottom: 70px;
    padding-left: 104px;
}
.home3-request-quote .ouer-clint .haddings{
    text-align: right;
}
.home3-request-quote .inner-clints .clints-sponser{
    border: 1px solid #eeeeee;
    border-radius: 0;
    box-shadow: none;
    margin: 0 0 25px 0;
}
.home3-request-quote .clints-sponser h3 {
    letter-spacing: 8px;
}
/************************************
     Home3 Tastimonial start
*************************************/
.hom3-tastimonial{
    margin-bottom: 62px;
    position: relative;
}
.hom3-tastimonial::after{
    background: #f9f9f9;
    height: 62px;
    width: 100%;
    position: absolute;
}
.hom3-tastimonial .testimonail-inner .image-holder {
    border: 2px solid;
    border-radius: 0;
    height: inherit;
    margin: 0 auto;
    position: relative;
    width: inherit;
    display: inline-block;
    z-index: 10;
}
.hom3-tastimonial  .testimonail-inner .image-holder img {
    border-radius: 0;
    height: inherit;
    width: inherit;
}
.hom3-tastimonial  .testimonail-inner .text-box {
    background-color: #ffffff;
    border: 2px solid;
    border-radius: 0;
    box-shadow: none;
    margin: 0 auto;
    padding: 0 76px 45px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 127px;
    width: 799px;
    z-index: 1000;
}
.hom3-tastimonial .testimonail-inner .text-box h3 {
    border-radius: 50px;
    color: #ffffff;
    display: inline-block;
    font-size: 16px;
    margin-bottom: 0;
    padding: 17px 28px;
    position: relative;
    top: -30px;
}
.hom3-tastimonial .testimonail-inner .text-box h3 span{
    color: #fff;
}
.hom3-tastimonial .testimonail-inner .owl-theme .owl-controls {
    bottom: 82px;
    margin-top: 0;
    position: absolute;
    right: 0;
}
/************************************
         Home4 start
*************************************/
.home4-inner-banner .image-holder .overlay {
    background-color: rgba(28, 32, 38, 0.60);
}
.home4-inner-banner .banner-text {
    text-align: left;
}
.home4-inner-banner .banner-text h2{
    font-size: 18px;
    letter-spacing: 3px;
    margin-bottom: 17px;
}
.home4-inner-banner .banner-text h1{
    font-size: 48px;
    letter-spacing: 0;
    margin-bottom: 5px;
}
.home4-inner-banner .banner-text h1 strong{
    display: block;
    margin-top: 9px;
}
.home4-inner-banner .banner-text p {
    color: #ffffff;
    width: 430px;
}
/************************************
      Home4 Amazing Feature start
*************************************/
.amazing-feature{
    padding: 75px 0;
}
.amazing-feature .feature-inner {
    border-radius: 50%;
    box-shadow: 1px 12px 10px -5px #eeeeee;
    height: 373px;
    padding-bottom: 35px;
    padding-top: 65px;
    text-align: center;
    width: 373px;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}
.amazing-feature .feature-inner:hover, 
.amazing-feature .green-feture:hover,
.amazing-feature .yellow-feture:hover{
    border: 1px solid;
}
.amazing-feature .feature-inner .image-holder{
    width: 82px;
    height: 72px;
    border-radius: 50% / 60% 60% 40% 40%;
    transform: rotate(-30deg);
    padding: 23px 16px;
    margin: 0 auto;
}
.amazing-feature .feature-inner .image-holder img {
    margin-left: 0;
    margin-top: 0;
    transform: rotate(30deg);
}
.amazing-feature .feature-inner .text-box {
    margin-top: 32px;
    padding: 0 50px;
}
.amazing-feature .feature-inner .text-box h3 {
    padding-bottom: 20px;
}
/************************************
   Home4 Who We Are Cargo start
*************************************/
.who-we-are-cargo{
    position: relative;
}
.who-we-are-cargo .who-we-are-cargo-left{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
}
.who-we-are-cargo-right {
    padding-bottom: 102px;
    padding-left: 150px;
    padding-top: 102px;
}
.cargo-right-innar h3{
    font-size: 24px;
    padding-bottom: 29px;
}
.cargo-right-innar .btn{
    margin-top: 25px;
}
/************************************
       Home4 Counter start
*************************************/
.home4-counter .counter-grid i {
    font-size: 32px;
}
.home4-counter .counter-grid {
    padding-bottom: 65px;
    padding-top: 67px;
}
.home4-counter .counter-grid h3 {
    padding-top: 17px;
    padding-bottom: 2px;
}
/************************************
      Home5 start
*************************************/
.home5-inner-banner .image-holder .overlay {
    background-color: rgba(28, 32, 38, 0.20);
}
.home5-inner-banner .banner-text {
    padding-top: 160px;
}
.home5-inner-banner .banner-text h1 {
    letter-spacing: 10px;
    margin-bottom: 0;
}
.home5-inner-banner .banner-text h2 {
    font-size: 24px !important;
    margin-bottom: 35px;
}
/************************************
      Home5 Counter start
*************************************/
.home5-counter{
    padding: 0 !important
}
.home5-counter .counter-grid{
    background-color: #6f89f3 !important;
    border-radius: 0;
    padding-bottom: 88px;
    padding-top: 88px;
}
.home5-counter .green-counter-grid{
    background-color: #6984f4 !important;
}
.home5-counter .red-counter-grid{
    background-color: #607cf3 !important;
}
.home5-counter .blue-counter-grid{
    background-color: #5a77f4 !important;
}
/************************************
         About Us start
*************************************/
.about-banner .image-holder{
    position: relative;
}
.about-banner .image-holder .overlay{
    position: absolute;
    background-color: rgba(0, 20, 50, 0.40);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.about-banner .about-banner-text{
    position: absolute;
    top: 35px;
    text-align: center;
    width: 100%;
    left: 0;
    text-transform: uppercase;
    height: 100%;
}
.about-banner .about-banner-text h1{
    font-size: 32px;
    color: #fff;
}
.about-banner .about-banner-text .breadcrumb {
    background-color: rgba(0, 0, 0, 0);
    border-radius: 0;
    list-style: outside none none;
    margin-bottom: 0;
    padding: 6px 0 0;
}
.about-banner .about-banner-text .breadcrumb li{
    margin: 0 8px;
}
.about-banner .about-banner-text .breadcrumb li.active{
    color: #fff;
    font-family: "Montserrat",sans-serif;
}
.about-banner .about-banner-text .breadcrumb li a{
    color: #fff;
    font-family: "Montserrat",sans-serif;
}
.about-banner .about-banner-text .breadcrumb > li + li::before {
    color: #fff;
    padding: 0 18px 0 0;
}
/************************************
        Blog inneer Page start
*************************************/
.blog-inneer-page {
    padding-bottom: 50px;
}
.blog-inneer-page .inner-blog{
    margin-bottom: 30px;
}
/************************************
        Contact-us start
*************************************/
.contact-us{
    background-color: #f9f9f9;
    padding-bottom: 135px;
}
.contact-form span{
    font-style: italic;
    font-size: 18px;
}
.contact-form h2{
    font-weight: bold;
    padding-top: 9px;
    margin-bottom: 30px;
}
.contact-form .form-group{
    margin-bottom: 30px;
}
.contact-form .form-group input[type="text"]{
    background-color: #fff;
    border: 1px solid #d7d7d7;
    height: 44px;
    width: 100%;
    color: #999999;
    font-size: 14px;
    font-family: "Lato",sans-serif;
    padding-left: 15px;
}
.contact-form .form-group select{
    background:  #fff url(../images/select-arrow-image.png) 97% center  no-repeat;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid #d7d7d7;
    height: 44px;
    width: 100%;
    color: #999999;
    font-size: 14px;
    font-family: "Lato",sans-serif;
    padding-left: 15px;
}
.contact-form .form-group textarea{
    background-color: #fff;
    border: 1px solid #d7d7d7;
    width: 100%;
    color: #999999;
    font-size: 14px;
    font-family: "Lato",sans-serif;
    padding: 15px;
    height: 135px;
}
.contact-us .contact-location{
    background-color: #f2f2f1;
    padding: 47px;
    margin-top: 45px;
    margin-bottom: 75px;
}
.contact-location h3{
    text-transform: none;
    margin-bottom: 21px;
}
.contact-location p{
    padding-bottom: 10px;
    font-size: 16px;
}
.contact-location a{
    display: block;
    color: #999;
    font-size: 16px;
    padding-bottom: 10px;
}
.contact-location ul{
    margin-top: 7px;
}
.contact-location ul li{
    display: inline-block;
}
.contact-location ul li a{
    color: #999;
    font-size: 24px;
    margin-right: 7px;
    padding-bottom: 0;
}
.contact-map h3{
    padding-bottom: 30px;
}
.contact-map {
    height: 360px;
    width: 100%;
}
.white_bg{
    background-color: #fff;
}
.grey_bg{
    background-color: #f9f9f9;
}